* {
    margin: 0%;
    padding: 0%
}

body {
    font-family: "Poppins", Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.navbar {
    background-color: rgb(68, 178, 217);
    height: 60px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    display: inline;
    margin-left: 15px;
    font-size: 40px;
}

.quotes{
    text-align: center;
    background-color:rgb(68, 178, 217);
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 25px;
}
.list {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 1000;
    list-style: none;
}


#light:hover,
#settings:hover {
    background-color: yellow;
}

#cleardata:hover {
    background-color:rgb(68, 178, 217);
    color: black;
}

#light,
#settings {

    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    width: 45px;
    cursor: pointer;

}

.container {
    padding: 45px 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;

}

.widget {

    width: 300px;
    padding-bottom: 10px;
    background-color: rgb(68, 178, 217);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;

}

.header h1 {
    font-size: 20px;

}

.widget-controls span {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
}

.widget-controls span:hover {
    color: yellow;
}

#sticky-textarea {
    border-radius: 10px;
    height: 25px;
    width: 200px;
    padding: 5px;
    border: none;
}

#sticky-add-button {
    border-radius: 5px;
    border: none;
    padding: 8px;

}

#sticky-add-button:hover {
    background-color: black;
    color: white;
}

.sticky-text {
    padding: 8px;
}

#todo-textarea {
    border-radius: 10px;
    height: 25px;
    width: 200px;
    padding: 5px;
    border: none;
}

#todo-add-button {
    border-radius: 5px;
    border: none;
    padding: 8px;

}

#todo-add-button:hover {
    background-color: black;
    color: white;
}

.todo-text {
    padding: 8px;
}

#bookmark-link {
    border-radius: 10px;
    height: 25px;
    width: 200px;
    padding: 5px;
    border: none;
}

#bookmark-textarea {
    border-radius: 10px;
    height: 25px;
    width: 200px;
    padding: 5px;
    border: none;
}

#bookmark-add-button {
    border-radius: 5px;
    border: none;
    padding: 8px;

}

#bookmark-add-button:hover {
    background-color: black;
    color: white;
}

.bookmark-text {
    padding: 8px;
}

#clock {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 8px;
    color: black;
    background-color: rgb(68, 178, 217);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    height: 100px;
    width: 130px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
}

#date {
    font-size: 15px;
    margin-top: 13px;
    color: white;
    position: relative;
}

#calendarBtn {
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
    background-color: rgb(68, 178, 217);

}

#sticky-div {
    padding: 5px;
    background-color: white;
    margin: 5px;
    position: relative;
    border-radius: 3px;

}

.sticky-div {
    padding: 5px;
    background-color: white;
    margin: 5px;
    position: relative;
    border-radius: 3px;

}

.sticky-para {
    display: inline;
    color: black;
}

#sticky-cancel {
    display: inline;
    position: relative;
    margin-left: 136px;
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}

.tododiv {
    padding: 5px;
    background-color: white;
    margin: 8px;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.bookmarkdiv {
    padding: 5px;
    background-color: white;
    margin: 8px;
    position: relative;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.settingsdiv {
    width: 200px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 20px;
    top: 105px;
    display: none;
    z-index: 1000;

}

body {
    overflow-x: hidden;

}

.calendar-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.calendar-content {
  background: white;
  padding: 20px;
  border-radius: 25px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  font-family: "Poppins", sans-serif;
}


.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  background: #f0f0f0;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.calendar-header button:hover {
  background: #ddd;
}


.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}


.calendar-grid div {
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}


.calendar-grid div:nth-child(-n+7) {
  font-weight: bold;
  background: #f0f0f0;
}

.today {
  background: #5aa9ff;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}


#calendarBtn:hover {
    background-color: #0b7dda;
}



@media screen and (max-width: 480px) {
    .navbar h1 {
        display: inline;
        margin-left: 15px;
        font-size: 30px;
    }

    .navbar ul li {

        font-size: 15px;
        padding: 5px;
    }

    #light,
    #settings {

        font-size: 15px;

    }

}

@media screen and (max-width:650px) {
    #clock {
        height: 80px;
        width: 80px;
        background-color: black;

    }

    #date {
        font-size: 10px;
    }

    #time {
        font-size: 10px;
        color: white;
    }

    #calendarBtn {
        font-size: 20px;
        background-color: black;
    }
}
.sticky-text:focus {
    outline: none;  
}